@media (min-width: $tablet-width) {
  .main-wrapper {
    width: $tablet-width;
  }

  .main-header {
    width: 768px;
    margin: 0 auto;
    height: auto;
    position: relative;
  }

  .logo-link__img {
    position: absolute;
    top: 0;
  }

  .main-nav {
    position: static;
  }

  .main-nav-list {
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-nav-list__item {
    width: 20%;
  }

  .main-nav-list__item--change:nth-child(2) {
    margin-right: auto;
  }

  .main-nav-list__item--change:nth-child(3) {
    margin-left: auto;
  }

  .main-nav-list__link {
    background-color: transparent;
    color: $black;
    border-bottom: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    padding: 0;
  }

  .main-nav-list__link:hover,
  .main-nav-list__link:focus {
    background-color: transparent;
    color: $blue;
  }

  .main-nav-list__link:active {
    background-color: transparent;
    color: rgba(#000000, 0.3);
  }

  .burger-menu {
    display: none;
  }

  /*  Контент  */

  .main-content {
    width: 768px;
    background-color: $white;
  }

  .intro-content--after::after {
    display: none;
  }

  .intro-block-img {
    width: 100%;
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .intro-block-img::after {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    height: 57px;
  }

  .intro-block-img__mount {
    width: 458px;
    height: 350px;
    margin-left: -229px;
  }

  .subtitle-two {
    padding-right: 150px;
    padding-left: 150px;
  }

  .intro-content__text {
    padding-right: 135px;
    padding-left: 135px;
  }

  /*  Преимущества  */

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features-item:nth-child(6) {
    order: 6;
  }

  .features-item:nth-child(7) {
    order: 7;
  }

  .features-item--blue-bg-one,
  .features-item--blue-bg-two {
    width: 33.3%;
    margin: 0;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .features-item__img-bridge,
  .features-item__img-town {
    width: 66.7%;
  }

  .features-item__enumeration {
    margin-bottom: 10px;
    display: block;
  }

  .features-item__description {
    margin: 0;
  }

  .features-list__icon {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 95px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
  }

  .features-item__svg {
    position: static;
    margin-bottom: 32px;
  }

  /*  Серые блоки  */

  .features-item--grey-bg {
    width: 33.3%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .features-item__wrapper {
    padding: 0;
    border: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .features-item__h3--black {
    @include sizetext(21px, 26px, $black, $bigtext);
    margin-bottom: 14px;
  }

  /*   Ссылка на форму обратной связи - main     */
  .search-hotel-main p {
    width: 55.5%;
  }

  .search-hotel-main .show-form {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /*   Конец Ссылка на форму обратной связи - main     */

  /*  Карта навигации  */

  .map-navigation--bg {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }
  /*  Footer  */

  .main-footer {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .main-footer__visitsedona {
    margin: 0;
  }

  .social-list {
    margin: 0;
  }

  .great-htmlacademy {
    width: 150px;
    margin: 0;
  }

  /*  Страница отзывы туристов  */

  .intro-content {
    margin-bottom: 35px;
  }

  .intro-block-img--mini {
    height: 290px;
    padding-top: 95px;
    margin-bottom: 77px;
  }

  .intro-block-img__sedona {
    width: 458px;
    height: 78px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 95px;
    left: 50%;
    margin-left: -229px;
  }

  .subtitle-two--photo-page {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 40px;
  }

  .intro-content__text--photo {
    margin-bottom: 76px;
  }

  .feedback-wrapper {
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .feedback-block {
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .feedback-block:first-child {
    width: 100%;
  }

  .feedback-tourists__img {
    @include imgsetup(cover, $bgp);
    width: 100%;
  }

  .feedback-tourists__img--boris {
    flex-grow: 1;
    background-image: url("../img/photo-sunset-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-sunset-tablet@2x.jpg");
      background-size: 648px auto;
      background-position: center;
    }
  }

  .feedback-tourists__img--sergei {
    background-image: url("../img/photo-cactus-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-cactus-tablet@2x.jpg");
    }
  }

  .feedback-tourists__img--petr {
    background-image: url("../img/photo-roads-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-roads-tablet@2x.jpg");
    }
  }

  .feedback-tourists__img--anton {
    background-image: url("../img/photo-bridge-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-bridge-tablet@2x.jpg");
    }
  }

  .feedback-tourists__h3 {
    margin-left: 20px;
  }

  .feedback-author {
    margin-left: 20px;
  }

  .reaction-tourists {
    position: absolute;
    right: 0;
    bottom: 31px;
  }

  .reaction-tourists__boris {
    right: 20px;
  }

  .reaction-tourists__sergei,
  .reaction-tourists__anton {
    right: 31px;
  }

  .reaction-tourists__petr {
    right: 37px;
  }

  /*    Видеопрезентация    */
  .video-action {
    padding-bottom: 40px;
  }

  .video-action h3 {
    @include sizetext(30px, 26px, $black, $bigtext);
  }

  .video-action p {
    margin-bottom: 65px;
  }

  .video-screen {
    height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video-panel {
    display: flex;
    height: 63px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 35px;
  }

  .video-panel__line {
    width: 60%;
    position: static;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .video-panel__ball {
    position: static;
    margin-left: 20px;
  }

  .video-panel::after {
    display: none;
  }

  .btn-reload,
  .btn-cc,
  .btn-resize {
    position: static;
  }

  .btn-reload svg,
  .btn-cc svg,
  .btn-resize svg {
    fill: $white;
  }

  .btn-reload:hover svg,
  .btn-cc:hover svg,
  .btn-resize:hover svg,
  .btn-reload:focus svg,
  .btn-cc:focus svg,
  .btn-resize:focus svg {
    fill: hsla(0, 0%, 100%, 0.6);
  }

  .btn-reload:active svg,
  .btn-cc:active svg,
  .btn-resize:active svg {
    fill: hsla(0, 0%, 100%, 0.3);
  }

  .btn-cc {
    margin-right: -30px;
  }
  /*    Конец Видеопрезентация    */
  /*    Страница с отзывами    */

  .form-review h1 {
    @include sizetext (30px, 26px, $black, $bigtext);
    font-weight: bold;
    width: 46.875%;
    margin-bottom: 28px;
  }

  .form-review .form-review__intro {
    width: 59.8%;
  }

  .main-form {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-form h2 {
    @include sizetext (21px, 26px, inherit, $bigtext);
  }

  .emotion {
    width: 50%;
    border-top: none;
    padding-left: 60px;
    order: 1;
  }

  .present {
    width: 50%;
    border-top: none;
    padding-left: 60px;
    order: 2;
  }

  .emotion h2 {
    width: 90%;
    margin-bottom: 63px;
    text-align: left;
    margin-left: 0;
  }

  .present h2 {
    width: 70%;
    margin-bottom: 63px;
    text-align: left;
    margin-left: 0;
  }

  .psevdo-radio::before {
    width: 55px;
    height: 55px;
    border-width: 15px;
    margin-top: -27.5px;
  }

  .emotion .psevdo-radio {
    padding-left: 75px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .present input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
  }

  .contact-info {
    width: 84.375%;
    padding-top: 0;
    order: 3;
  }

  .contact-info h2 {
    margin-top: -13px;
    margin-bottom: 20px;
    background-color: $white;
    width: 60%;
  }

  .contact-info label:first-of-type {
    padding-left: 20px;
  }

  .contact-info label:last-of-type {
    padding-left: 20px;
  }

  .visit-place {
    width: 84.375%;
    order: 4;
    padding-bottom: 40px;
  }

  .visit-place h2 {
    width: 50%;
    margin-top: -45px;
    background-color: $white;
  }

  .visit-place__wrapper {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .visit-place__wrapper .psevdo-checkbox {
    width: 35%;
  }

  .psevdo-checkbox:first-of-type {
    margin-left: auto;
  }

  .psevdo-checkbox:nth-of-type(2) {
    margin-right: auto;
  }

  .psevdo-checkbox:nth-of-type(3) {
    margin-left: auto;
  }

  .psevdo-checkbox:last-of-type {
    margin-right: auto;
  }

  .write-emotion {
    width: 84.375%;
    order: 5;
    padding: 0;
    padding-bottom: 40px;
  }

  .write-emotion h2 {
    width: 50%;
    background-color: $white;
    margin-bottom: 40px;
    margin-top: -10px;
  }

  .write-emotion__area {
    width: 100%;
    height: 160px;
  }

  .btn-submit-wrapper {
    width: 84.375%;
    position: relative;
    margin-bottom: 60px;
  }

  .btn-submit-wrapper::after {
    @include sizetext(14px, 26px, $lightblack, $bigtext);
    content: "* - Обязательное поле";
    right: 0;
    top: 50%;
    margin-top: -13px;
    position: absolute;
  }

  .submit-btn {
    width: 50%;
    margin: 0;
  }
  /*    Конец Страница с отзывами    */
}
