.main-footer {
  width: 320px;
  margin: 0 auto;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer__visitsedona {
  @include sizetext(21px, 26px,$black,$bigtext);
  font-weight: bold;
  margin-bottom: 40px;
}

.great-htmlacademy__span {
  @include sizetext(14px, 26px,$black,$bigtext);
}

.great-htmlacademy__svg {
  display: block;
  fill: $black;
  width: 27px;
  height: 34px;
}

/*      Socials:     */

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.social-item {
  list-style: none;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-item__link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $blue;
  flex-direction: row;
align-items: center;
justify-content: center;
}

.social-item__icon-fb {
  fill: $white;
  width: 9px;
  height: 18px;
}

.social-item__icon-tw {
  fill: $white;
  width: 19px;
  height: 14px;
}
.social-item__icon-youtube {
 fill: $white;
 width: 20px;
 height: 14px;
}

/*      End Socials:     */
