/*      Раздел Хедер      */
.main-nav {
  background-color: #ffffff;
}


.main-nav-list__item {
  list-style: none;
  width: 320px;
  box-sizing: border-box;
}
.main-nav-list__link {
  display: block;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  text-transform: uppercase;
}

/*      Конец Раздел Хедер      */


.intro-block-img--normal {
  background-image: url(bg-back-mobile@1x.jpg);
}
