.main-content {
  width: 320px;
  margin: 0 auto;
}

.intro-content {
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 44px;
  background-color: $white;
}

.intro-content--after::after {
  content: "";
  display: block;
  width: 100%;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.subtitle-two {
  @include sizetext(18px,26px,$black,$bigtext)
    text-align: center;
}

.subtitle-two--move {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.intro-content__text {
  @include sizetext(14px,24px,$black,$bigtext)
    margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.intro-block-img {
  position: relative;
  width: 320px;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
  background-color: #e1eef6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-block-img__mount {
  width: 282px;
  height: 214px;
  display: block;
  transform: translateY(90px);
  position: absolute;
  left: 50%;
  margin-left: -141px;
}

.intro-block-img__sedona {
  position: absolute;
  top: 52px;
  width: 229px;
  left: 50%;
  margin-left: -114.5px;
}

.intro-block-img--mini {
  width: 320px;
  height: 158px;
}

.intro-block-img::after {
  content: "";
  display: block;
  width: 100%;
  height: 27.111px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  bottom: -1px;
}

.intro-block-img--normal {
  margin: 0;
  margin-bottom: 46px;
}

/*      Списки преимуществ на главной    */
.features {
  width: 100%;
}

.features-list {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.features-item {
  list-style: none;
  display: block;
  width: 100%;
}

.features-item:first-child {
  order: 1;
}

.features-item:nth-child(2) {
  order: 2;
}

.features-item:nth-child(3) {
  order: 3;
}

.features-item:nth-child(4) {
  order: 4;
}

.features-item:nth-child(5) {
  order: 5;
}

.features-item:nth-child(6) {
  order: 7;
}

.features-item:nth-child(7) {
  order: 6;
}

.features-item:nth-child(8) {
  order: 8;
}

.features-item:nth-child(9) {
  order: 9;
}

.features-item:last-child {
  order: 10;
}

.features-list__icon {
  position: relative;
  padding-left: 71px;
  padding-bottom: 17px;
  padding-top: 40px;
}

.features-item__svg {
  position: absolute;
  left: 24px;
  top: 32px;
}

.features-item__svg--fill {
  fill: $blue;
}

.features-item--icon-burger svg {
  width: 39px;
  height: 35px;
}

.features-item--icon-suvenir svg {
  width: 32px;
  height: 38px;
}

.features-item--icon-house svg {
  width: 39px;
  height: 37px;
}

.features-item--blue-bg-one {
  background-color: $blue;
  text-align: center;
  margin: 0;
  margin-top: -20px;
  padding-top: 60px;
  padding-bottom: 42px;
}

.features-item--blue-bg-two {
  background-color: $blue;
  text-align: center;
  padding-top: 41px;
  padding-bottom: 41px;
}

.features-item__h3 {
  @include sizetext(18px, 26px,$white,$bigtext);
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}

.features-item__enumeration {
  @include sizetext(14px, 21px,$white,$bigtext);
  margin: 0;
}

.features-item__description {
  @include sizetext(14px, 21px,$white,$bigtext);
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.features-item--icon-house,
.features-item--icon-suvenir,
.features-item--icon-burger {
  color: $black;
  background-color: $white;
}

.features-item__h3--black {
  @include sizetext(18px, 26px,$black,$bigtext);
  margin-bottom: 13px;
}

.features-item__description--black {
  @include sizetext(14px, 21px,$black,$bigtext);
}

.features-item--grey-bg {
  background-color: $grey;
}

.features-item__img-bridge,
.features-item__img-town {
  overflow: hidden;
}

.features-item__wrapper {
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.features-item__wrapper--none {
  border: none;
}

.features-item__enumeration--black,
.features-item__description--black {
  @include sizetext(14px, 21px,$black,$bigtext);
}

/*      Конец Списки преимуществ     */

/*  Форма связи  */

.search-hotel-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-right: 3.2%;
  padding-left: 3.2%;

  h2 {
    @include sizetext(21px, 26px, $black, $bigtext);
    margin: 0;
    padding: 0;
    width: 87.5%;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    @include sizetext(14px, 24px, $black, $bigtext);
    margin: 0;
    padding: 0;
    width: 87.5%;
    margin-bottom: 35px;
  }
}

.search-hotel-main .show-form {
  @include sizetext(21px, 26px, $white, $bigtext);
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: $blue;
  width: 87.5%;
  max-width: 458px;
  padding-top: 5.3125%;
  padding-bottom: 5.9375%;
  font-weight: bold;
  text-decoration: none;
}

.show-form:hover,
.show-form:focus {
  background-color: $bluehover;
}

.show-form:active {
  background-color: $blueactive;
}

.show-form--disabled {
  background-color: $disabledbutton;
}

/*  Конец Форма связи  */

/*      Карта навигации        */

.map-navigation {
  width: 100%;
  height: 350px;
}

.map-navigation--bg {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-color: #f4f0ed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.map-navigation__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*     End Карта навигации        */

/*        Страница с отзывами туристов         */

.feedback-wrapper {
  width: 100%;
}

.feedback-block {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  background-color: $white;
}

.feedback-tourists__img {
  width: 280px;
  margin-bottom: 17px;
  height: 280px;
}

.feedback-tourists__h3 {
  @include sizetext(14px,24px,$black,$bigtext);
  margin: 0;
  margin-bottom: 6px;
}

.feedback-author {
  @include sizetext(14px,24px,#333333, none);
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.reaction-tourists {
  margin: 0;
  padding: 0;
}

.feedback-tourists__like-total {
  @include sizetext(14px,24px,$black, none);
  font-weight: bold;
}

.feedback-tourists__like-btn {
  border: none;
  background: transparent;
}

.feedback-tourists__img--boris {
  @include imgsetup (contain, center);
  background-image: url("../img/photo-sunset-mobile@1x.jpg");
  background-color: #ffc67f;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-sunset-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.feedback-tourists__img--sergei {
  @include imgsetup(contain, center);
  background-image: url("../img/photo-cactus-mobile@1x.jpg");
  background-color: #d2774b;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-cactus-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.feedback-tourists__img--petr {
  @include imgsetup(contain, center);
  background-image: url("../img/photo-roads-mobile@1x.jpg");
  background-color: #39392d;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-roads-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.feedback-tourists__img--anton {
  @include imgsetup(contain, center);
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-color: #ae7355;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-bridge-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.feedback-tourists__like-img {
  fill: rgba(0, 0, 0, 0.3);
  width: 21px;
  height: auto;
}

/*  Видеопрезентация  */

.video-action {
  width: 100%;
  background-color: $white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 115px;
}

.video-action h3 {
  @include sizetext(18px, 26px, $black, $bigtext);
  padding: 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.video-action p {
  @include sizetext(14px, 24px, $lightblack, $bigtext);
  padding: 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.video-screen {
  @include imgsetup($bgz, $bgp);
  position: relative;
  width: 100%;
  height: 201px;
  background-image: url("../img/video-mobile@1x.jpg");
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video-panel {
  width: 87.5%;
  height: 45px;
  margin: 0 auto;
  background-color: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -43.75%;
}

.video-panel::after {
  content: "";
  display: block;
  width: 100%;
  height: 66px;
  margin: 0 auto;
  position: absolute;
  bottom: -66px;
  background-color: #f2f2f2;
}

.video-panel__line {
  width: 83.9%;
  height: 3px;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -41.95%;
}

.video-panel__ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $white;
  border: none;
  position: absolute;
  top: -3px;
  left: 10%;
}

.video-panel__ball:hover,
.video-panel__ball:focus {
  background-color: hsla(0, 0%, 79%, 0.7);
}

.video-panel__ball:active {
  background-color: hsla(0, 0%, 79%, 0.9);
}

.btn-reload,
.btn-cc,
.btn-resize {
  border: none;
  position: absolute;
  display: block;
  z-index: 1;
  background-color: transparent;
}

.btn-reload svg,
.btn-cc svg,
.btn-resize svg {
  fill: $videobtn;
}

.btn-reload:hover svg,
.btn-cc:hover svg,
.btn-resize:hover svg,
.btn-reload:focus svg,
.btn-cc:focus svg,
.btn-resize:focus svg {
  fill: $videobtnhover;
}

.btn-reload:active svg,
.btn-cc:active svg,
.btn-resize:active svg {
  fill: hsla(0, 0%, 0%, 0.3);
}

.btn-reload {
  bottom: -45px;
  left: 25px;
}

.btn-cc {
  bottom: -45px;
  right: 90px;
}

.btn-resize {
  bottom: -45px;
  right: 25px;
}

/*        End Страница с отзывами          */
/*      Страница отзыва        */

.form-review {
  width: 100%;
  text-align: center;
}

.form-review h1 {
  @include sizetext (18px, 26px, $black, $bigtext);
  width: 80%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-review .form-review__intro {
  @include sizetext (14px, 24px, $black, $bigtext);
  width: 86%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-form h2 {
  @include sizetext (18px, 26px, $black, $bigtext);
  padding: 0;
  margin: 0 auto;
}

.present,
.contact-info,
.emotion,
.visit-place,
.write-emotion {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $disabledbutton;
  margin: 0 auto;
}
/*    Раздел "Представьтесь"     */
.present {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 1;
}

.present h2 {
  width: 60%;
  text-align: center;
  margin-bottom: 25px;
}

.present label {
  @include sizetext (14px, 26px, $lightblack, $bigtext);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.present input {
  @include sizetext (18px, 26px, $black, $bigtext);
  font-weight: bold;
  width: 100%;
  margin-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  background-color: $halfwhite;
  border: none;
}

/*  Раздел Контактная информация  */

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 2;
  width: 100%;
  margin: 0 auto;
}

.contact-info h2 {
  width: 85%;
  text-align: center;
  margin-bottom: 35px;
}

.contact-info label {
  @include sizetext (14px, 26px, $lightblack, $bigtext);
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.contact-info label:first-of-type::before {
  content: "Контактный телефон";
}

.contact-info div {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}

.contact-info input {
  @include sizetext (18px, 26px, $black, inherit);
  font-weight: bold;
  background-color: $halfwhite;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 60px;
  border: none;
}

.contact-info button {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  border: none;
}

/*    Раздел описание эмоций    */

.emotion {
  order: 3;
}

.emotion h2 {
  width: 85%;
  text-align: center;
  margin-bottom: 25px;
}

.emotion .emotion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.emotion .psevdo-radio {
  @include sizetext (18px, 26px, $black, inherit);
  font-weight: bold;
  text-align: left;
  position: relative;
  padding-left: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.psevdo-radio::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 34px;
  height: 34px;
  background-color: $halfwhite;
  border: 10px solid $halfwhite;
  border-radius: 50%;
  top: 50%;
  margin-top: -17px;
}

.emotion__radio-btn:hover:not(:disabled) + .psevdo-radio::before,
.emotion__radio-btn:focus + .psevdo-radio::before,
.psevdo-radio:hover::before,
.psevdo-radio:focus::before,
.emotion__radio-btn:checked + .psevdo-radio::before {
  background-color: $lightblack;
  border-color: $disabledbutton;
}

.emotion__radio-btn:active:not(:disabled) + .psevdo-radio::before,
.psevdo-radio:active::before {
  border-color: #d5d5d5;
  background-color: hsla(0, 0%, 20%, 0.3);
}

/*    Секция Посещенные места    */

.visit-place {
  width: 100%;
  order: 4;
}

.visit-place h2 {
  margin-bottom: 25px;
}

.visit-place__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
}

.visit-place__wrapper .psevdo-checkbox {
  @include sizetext (18px, 26px, $black, inherit);
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.psevdo-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -27.5px;
  width: 55px;
  height: 55px;
  background-color: $halfwhite;
  border-radius: 5px;
}

// .visit-checkbox:hover:not(:disabled) + .psevdo-checkbox1::before,
// .visit-checkbox:hover:not(:disabled) + .psevdo-checkbox2::before,
// .visit-checkbox:hover:not(:disabled) + .psevdo-checkbox3::before,
// .visit-checkbox:hover:not(:disabled) + .psevdo-checkbox4::before,
.psevdo-checkbox:hover::before {
  @include imgsetup (24px auto, center);
  background-color: $disabledbutton;
  background-image: url("../img/icon-tick.svg");
  fill: $black;
}

.visit-checkbox:checked + .psevdo-checkbox::before,
.visit-checkbox:active:not(:disabled) + .psevdo-checkbox::before,
.psevdo-checkbox:active::before {
  @include imgsetup (24px auto, center);
  background-color: #d5d5d5;
  background-image: url("../img/icon-tick.svg");
  fill-opacity: 0.3;
}

.visit-checkbox:disabled + .psevdo-checkbox::before {
  background-image: none;
  background-color: $halfwhite;
}

.write-emotion {
  width: 100%;
  order: 5;
}

.write-emotion h2 {
  padding: 0;
  margin-bottom: 20px;
}

.write-emotion__area {
  @include sizetext (18px, 26px, $black, inherit);
  font-weight: bold;
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: $halfwhite;
  border: none;
  margin-bottom: 50px;
}

.btn-submit-wrapper {
  order: 6;
  width: 87.5%;
  margin: 0 auto;
}

.submit-btn {
  @include sizetext(21px, 26px, $white, $bigtext);
  font-weight: bold;
  display: block;
  background-color: $blue;
  width: 100%;
  margin: 0 auto;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-left: 45px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: $bluehover;
}

.submit-btn:active {
  background-color: $blueactive;
  color: hsla(0, 0%, 100%, 0.3);
}
/*      Конец Страница отзыва        */
