.main-content {
  width: 320px;
  margin: 0 auto;
}

.intro-content {
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 44px;
}

.intro-content--after::after {
  content: "";
  display: block;
  width: 100%;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0 px;
  z-index: 1;
}

.subtitle-two {
  @include sizetext(18px,26px,$black,$bigtext)
    text-align: center;
}

.subtitle-two--move {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.intro-content__text {
  @include sizetext(14px,24px,$black,$bigtext)
    margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.intro-block-img {
  position: relative;
  width: 320px;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #e1eef6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-block-img__mount {
  width: 282px;
  height: 214px;
  display: block;
  transform: translateY(90px);
  position: absolute;
  left: 50%;
  margin-left: -141px;
}

.intro-block-img--mini {
  width: 320px;
  height: 158px;
}

.intro-block-img::after {
  content: "";
  display: block;
  width: 100%;
  height: 26.111px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  bottom: 0;
}

.intro-block-img--normal {
  margin: 0;
  margin-bottom: 46px;
}

/*      Списки преимуществ на главной    */
.features {
  width: 100%;
}

.features-list {
  padding: 0;
  margin: 0;
  width: 100%;
}

.features-item {
  list-style: none;
  display: block;
  width: 100%;
}

.features-list__icon {
  padding-bottom: 17px;
}

.features-item__svg--fill {
  fill: $blue;
}

.features-item--icon-burger svg {
  width: 39px;
  height: 35px;
}

.features-item--icon-suvenir svg {
  width: 32px;
  height: 38px;
}

.features-item--icon-house svg {
  width: 39px;
  height: 37px;
}

.features-item--blue-bg-one {
  background-color: $blue;
  text-align: center;
  margin: 0;
  margin-top: -20px;
  padding-top: 60px;
  padding-bottom: 42px;
}

.features-item--blue-bg-two {
  background-color: $blue;
  text-align: center;
  padding-top: 41px;
  padding-bottom: 41px;
}

.features-item__h3 {
  @include sizetext(18px, 26px,$white,$bigtext);
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}

.features-item__enumeration {
  @include sizetext(14px, 21px,$white,$bigtext);
  margin: 0;
}

.features-item__description {
  @include sizetext(14px, 21px,$white,$bigtext);
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.features-item--icon-house,
.features-item--icon-suvenir,
.features-item--icon-burger {
  color: #000000;
}

.features-item__h3--black {
  @include sizetext(18px, 26px,$black,$bigtext);
  margin-bottom: 13px;
}

.features-item__description--black {
  @include sizetext(14px, 21px,$black,$bigtext);
}

.features-item--grey-bg {

  background-color: $grey;
}

.features-item__wrapper {
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.features-item__wrapper--none {
  border: none;
}

.features-item__enumeration--black,
.features-item__description--black {
  @include sizetext(14px, 21px,$black,$bigtext);
}

/*      Конец Списки преимуществ     */

/*      Карта навигации        */

.map-navigation {
  width: 100%;
  height: 350px;
}

.map-navigation--bg {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-color: #f4f0ed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*     End Карта навигации        */

/*        Страница с отзывами туристов         */

.feedback-wrapper {
  width: 100%;
}

.feedback-block {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.feedback-tourists__img {
  width: 280px;
  margin-bottom: 17px;
  height: 280px;
}

.feedback-tourists__h3 {
  @include sizetext(14px,24px,$black,$bigtext);
  margin: 0;
  margin-bottom: 6px;
}

.feedback-author {
  @include sizetext(14px,24px,#333333, none);
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.reaction-tourists {
  margin: 0;
  padding: 0;
}

.feedback-tourists__like-total {
  @include sizetext(14px,24px,$black, none);
  font-weight: bold;
}

.feedback-tourists__like-btn {
  border: none;
  background: transparent;
}

.feedback-tourists__img--boris {
  @include imgsetup (contain, center);
  background-image: url("../img/photo-sunset-mobile@1x.jpg");
  background-color: #ffc67f;
}

.feedback-tourists__img--sergei {
  @include imgsetup(contain, center);
  background-image: url("../img/photo-cactus-mobile@1x.jpg");
  background-color: #d2774b;
}

.feedback-tourists__img--petr {
  @include imgsetup(contain, center);
  background-image: url("../img/photo-roads-mobile@1x.jpg");
  background-color: #39392d;
}

.feedback-tourists__img--anton {
  @include imgsetup(contain, center);
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-color: #ae7355;
}

.feedback-tourists__like-img {
  fill: rgba(0, 0, 0, 0.3);
}

/*        End Страница с отзывами          */
