$black: #000000;
$white: #ffffff;
$grey: #eeeeee;
$blue: #81b3d2;
$bigtext: uppercase;
$bgz: contain;
$bgp: center;

/*  Media   */
$desktop-width: 1280px;
$tablet-width: 768px;

@mixin sizetext ($sizefont, $lineheight, $color, $bigtext) {
  font-size: $sizefont;
  line-height: $lineheight;
  color: $color;
  text-transform: $bigtext;
  font-family: "PT Sans", "Arial", sans-serif;
}

@mixin imgsetup($bgz, $bgp) {
  background-repeat: no-repeat;
  background-size: $bgz;
  background-position: $bgp;
}
